/* General */
body {
    background: url(background.jpg) no-repeat;
    background-position: center;
    border-radius: 0!important;
    height: 800px;
}


/* Decoration for brand and navigation */
nav .navbar-brand .yellow{
    color: #EEAA0B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
}
nav .navbar-brand .green{
    color: #2e944b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 39px;
}
a.nav-link{
    font-family: Roboto!important;
    font-size: 18px;
    margin: 0 6px 0 6px;
}
a.nav-link:hover{
    background-color: #519259;
    border-radius: 5%;
    opacity: 0.6;
    color: white!important;
}


/* Decoration for header in all size device*/
.catchphrase {
    color: #146356;
    font-family: Titillium Web;
    font-weight: 600;
    font-size: 80px;
}
@media only screen and (max-width: 768px) {
    .catchphrase{
        font-size: 52px;
        margin-top: 48px;
    }
}


/* All kind of form */
input:focus,
button:focus {
    box-shadow: 0 0 2px 3px #519259 !important;
}
button {
    background-color: #146356!important;
    border: #146356 !important;
}
button:hover {
    border: solid #EEAA0B !important;
}



canvas{
    background-color: white;
}


table {
    margin-bottom: 1rem;
    width: 100%;

}

tbody td ,
table th {
    padding: 0.5rem;
    vertical-align: middle;
    border-bottom: 1px solid #2e944b;
}
tfoot td {
    padding: 0.5rem;
    vertical-align: middle;
}